logs/
.idea/
/startinflux.bat
/idbtoken.txt
/telegraf.conf
/.env
/telegraf_start.bat
*.pyc
/mock_data_final.json
/catalog/.env
/catalog/services.json
/catalog/sessions.json
/catalog/users.json
/catalog/generator/devices.json
/catalog/generator/greenhouses.json
backup
backup/*
venv